@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    letter-spacing: 0.5px;
    word-spacing: 0.5px;
    font-family: 'Roboto', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 1000px;
}

header{
    background-color: #222;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    position: relative;
}

#homeButton {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    background-color: #BC4749;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 20px;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.3);
    transition: all 0.2s ease;
}

#homeButton:hover{
    background-color: #d43033;
}

header h2{
    font-size: 30px;
}

#createButton, #saveButton {
    color: black;
    font-weight: 500;
    padding: 10px 20px;
    background-color: #eee;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.3);
    transition: all 0.2s ease;
}

#createButton:hover, #saveButton:hover{
    background-color: white;
}

/* Інформація */

input, textarea, select{
    border: none;
    outline: none;
    font-size: 16px;
    padding: 5px 10px;
    background-color: #f6f6f6;
    border-bottom: 1px solid #ccc;
    border-radius: 15px 15px 0 0;
}

input#recipeName{
    font-size: 20px;
    margin: 10px 40px;
    padding: 10px 20px;
    font-weight: 600;
    margin-top: 20px;
}

.info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 40px;
}

.info .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.info .container label{
    font-weight: 500;
    font-size: 17px;
}

.info .container .cookingTime{
    display: flex;
    align-items: center;
    gap: 10px;
}

.info .container .cookingTime input{
    width: 75px;
    text-align: center;
    padding-left: 25px;
}

textarea#recipeDescription{
    margin: 10px 40px;
    resize: none;
    padding: 10px 20px;
    overflow-y: hidden;
}

/* Фото та дроп-контейнер */

img {
    width: calc(100% - 80px);
    border-radius: 10px;
    object-fit: cover;
    margin: 0 40px;
    margin-top: 10px;
}

.drop-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    padding: 20px;
    margin: 10px 40px;
    border-radius: 10px;
    border: 2px dashed #ccc;
    color: #444;
    cursor: pointer;
    transition: all .2s ease-in-out, border .2s ease-in-out;
}

.drop-container:hover {
    background: #eee;
    border-color: #999;
}

.drop-container:hover .drop-title {
    color: #222;
}

.drop-title {
    color: #444;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    transition: color .2s ease-in-out;
    padding: 10px;
}

.photoButton {
    border: none;
    background-color: #BC4749;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 16px;
    margin: 10px;
    z-index: 1;
    transition: all 0.3s ease;
}

.photoButton:hover {
    cursor: pointer;
    background-color: #d43033;
}

.drop-container.drag-active {
    background: #eee;
    border-color: #111;
}

.drop-container.drag-active .drop-title {
    color: #222;
}

.double-click{
    display: none;
    justify-content: right;
    font-size: 14px;
    padding-top: 4px;
    padding: 0 5px;
    margin: 0 40px;
    color: #ccc;
    font-weight: 300;
}

/* Інгредієнти */

.ingredients-panel{
    margin: 10px 40px;
    padding: 0 60px;
    text-align: center;
}

.ingredients-panel h2{
    text-align: center;
    padding: 5px;
    padding-bottom: 10px;
    font-weight: 700;
}

.ingredient-list .ingredient {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    border-bottom: 1px dashed #e2e2e2;
    margin-bottom: 5px;
    transition: box-shadow 0.3s ease;
}

.ingredient-list .ingredient:hover{
    box-shadow: 1px 3px 10px rgba(0,0,0,0.2);
    border-radius: 10px;
    border-bottom: 1px dashed white;
}

.ingredient-list .ingredient:last-of-type{
    border: none;
}

.ingredient-list .ingredient .name {
    padding: 5px;
    width: 100%;
    text-align: left;
    cursor: pointer;
}

.ingredient-list .ingredient .amount {
    width: 100px;
    text-align: center;
    padding-left: 20px;
    margin-right: 10px;
}

.ingredient-list .ingredient .unit {
    min-width: 50px;
}

.ingredient-list .ingredient .remove {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    min-width: 35px;
    border-radius: 25px;
    transition: all 0.2s ease;
}

.ingredient-list .ingredient .remove:hover{
    background-color: #BC4749;
    color: white;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.2);
}

.ingredients-panel .add-button{
    display: inline-block;
    background-color: #BC4749;
    color: white;
    text-align: center;
    gap: 10px;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.ingredients-panel .add-button:hover{
    background-color: #d43033;
}

/* Кроки приготування */

.step-panel {
    margin: 10px 40px;
    padding: 0 60px;
    text-align: center;
}

.step-panel h2{
    text-align: center;
    padding: 5px;
    padding-bottom: 10px;
    font-weight: 700;
}

.step-panel .add-button{
    display: inline-block;
    background-color: #BC4749;
    color: white;
    text-align: center;
    gap: 10px;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.step-panel .add-button:hover{
    background-color: #d43033;
}

.step-list{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.step-list .step{
    display: flex;
    align-items: start;
    justify-content: center;
}

.step-list .step .index{
    padding-right: 15px;
    color: #BC4749;
    font-size: 24px;
    font-weight: 500;
    text-align: right;
    min-width: 50px;
}

.step-list .step textarea {
    width: 100%;
    resize: none;
    overflow-y: hidden;
}

.step-list .step .remove{
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    min-width: 35px;
    border-radius: 25px;
    transition: all 0.2s ease;
}

.step-list .step .remove:hover{
    background-color: #BC4749;
    color: white;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.2);
}

/* Панель продуктів */

.product-panel{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    z-index: -1;
    background-color: rgba(0,0,0,0.3);
    transition: all 0.5s ease;
}

.product-panel .top{
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 10px 10px 0 0;
    padding: 10px;
    width: 100%;
    max-width: 800px;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.3);
}

.product-panel .top input{
    background-color: transparent;
    width: 90%;
    margin: 0 10px;
    padding: 5px;
}

.product-panel .top i.fa-magnifying-glass{
    padding: 0 10px;
}

.product-panel .close-button{
    font-size: 16px;
    min-width: 35px;
    min-height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
}

.product-panel .close-button:hover{
    background-color: #BC4749;
    color: white;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.2);
}

/* Список продуктів */

.product-list{
    width: 100%;
    max-width: 800px;
    height: 450px;
    background-color: #ebebeb;
    border-radius: 0 0 10px 10px;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.3);
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 5px 10px;
}

.product-list .product{
    display: flex;
    align-items: center;
    border-radius: 25px;
    padding: 5px;
    margin: 5px;
    transition: all 0.3s ease;
}

.product-list .product:hover:not(.product.selected){
    background-color: white;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.2);
}

.product-list .product .name{
    width: 100%;
    padding-left: 20px;
}

.product-list .product .amount{
    min-width: 75px;
    text-align: right;
    padding-right: 15px;
}

.product-list .product .add-button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    min-width: 35px;
    background-color: #BC4749;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.product-list .product .add-button.active{
    background-color: #588157;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.3);
}

.product-list .product .add-button:hover{
    box-shadow: 1px 3px 5px rgba(0,0,0,0.3);
}

@media screen and (width > 1000px) {
    header{
        margin-top: 20px;
        border-radius: 15px;
    }
} 