@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 1000px;
}

/* Голова сайту */

header {
    position: relative;
    background-color: #222;
    color: white;
    text-align: center;
    padding: 18px;
    font-size: 20px;
    box-shadow: 1px 3px 10px rgba(0,0,0,0.2);
    transition: all 0.5s ease;
}

header a.home{
    position: absolute;
    top: 0;
    left: 0;
    margin: 15px 30px;
    padding: 10px 20px;
    background-color: #BC4749;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 10px;
}

.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top .name{
    font-size: 30px;
    font-weight: 700;
    padding: 20px 40px;
}

.top i{
    padding: 10px;
    font-size: 30px;
    margin-right: 25px;
    color: #BC4749;
}

/* Картинка */

img{
    width: calc(100% - 40px);
    margin: 0 20px;
    border-radius: 10px;
}

/* Таблиця з даними */

table.data-table{
    width: 100%;
    padding: 20px 20px 10px;
    letter-spacing: 0.5px;
    word-spacing: 0.5px;
}

table.data-table th{
    font-weight: 500;
}

table.data-table td{
    text-align: center;
    color: #333;
    padding: 4px;
}

table.data-table .rating{
    color: #BC4749;
    display: flex;
    align-items: center;
    justify-content: center;
}

table.data-table .rating i{
    padding: 0 1px;
}

table.data-table .rating span {
    color: #333;
    padding-left: 5px;
}

/* Опис */

.description {
    padding: 10px 30px;
    line-height: 25px;
    word-spacing: 0.5px;
    letter-spacing: 0.5px;
    font-size: 16px;
    color: #333;
    font-weight: 400;
}

/* Список інгредієнтів */

.ingredient-list {
    margin: 15px 30px;
    padding: 10px 20px;
    border-top: 1px #BC4749 solid;
    border-bottom: 1px #BC4749 solid;
    letter-spacing: 0.5px;
    word-spacing: 0.5px;
}

.ingredient-list h2{
    padding: 10px;
    font-weight: 700;
    text-align: center;
}

.ingredient-list .row{
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px #e3e3e3 solid;
}

.ingredient-list .row:last-of-type{
    border: none;
}


.ingredient-list .row div{
    font-size: 16px; 
}

/* Калорійність */

h2.calories-label{
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-left: 70px;
    position: relative;
}

h2.calories-label span{
    color: #ccc;
    font-size: 15px;
    font-weight: 400;
}

.calories-panel {
    display: flex;
    padding: 0 80px;
    align-items: center;
    gap: 25px;
    padding-top: 15px;
    letter-spacing: 0.5px;
    word-spacing: 0.5px;
    position: relative;
}

.calories-panel .diagram{
    position: relative;
    width: 20%;
}

.calories-panel .diagram .diagram-caption{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
}

.calories-panel .diagram .diagram-caption p{
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.calories-panel .diagram .diagram-caption p span{
    color: #dd2528;
    font-size: 24px; 
    font-weight: 700;
}

.calories-panel .list{
    width: calc(100% - 100px);
}

.calories-panel .list .slider-bar{
    display: flex;
    background-color: #e4e4e4;
    width: 100%;
    border-radius: 10px;
    margin-top: 4px;
    margin-bottom: 12px;
}

.calories-panel .list .slider-bar .slider{
    border-radius: 10px;
    height: 10px;
}

.calories-panel .hint{
    font-size: 14px;
    color: #999;
    font-weight: 400;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 10px;
    letter-spacing: 0.5px;
}

/* Таблиця калоріїв */

.calories-table{
    border-collapse: collapse;
    width: calc(100% - 100px);
    margin: 0 50px;
    margin-top: 30px;
}

.calories-table th{
    background-color: #BC4749;
    color: white;
    padding: 5px;
    border-right: 2px dotted white;
}

.calories-table th:first-of-type{
    border-radius: 10px 0 0 0;
}

.calories-table th:last-of-type{
    border-radius: 0 10px 0 0;
    border: none;
}

.calories-table tbody tr{
    border-bottom: 1px solid #e0e0e0;
}

.calories-table tbody tr:nth-child(even) {
    background-color: #f6f6f6; 
}

.calories-table td {
    text-align: center;
    border-right: 1px dashed #ededed;
    border-left: 1px dashed #ededed;
    padding: 5px;
}

.calories-table tr td:first-of-type{
    border-left: none;
}

.calories-table tr td:last-of-type{
    border-right: none;
}

.calories-table tfoot tr{
    background-color: #222;
    color: white;
    font-weight: 500;
    border-bottom: 1px solid #555;
}

.calories-table tfoot td{
    border-right: 1px dashed #444;
    border-left: 1px dashed #444;
}

.calories-table tfoot tr:last-of-type{
    border: none;
}

.calories-table tfoot tr:last-of-type td:first-of-type{
    border-radius: 0 0 0 10px;
}

.calories-table tfoot tr td:first-of-type{
    text-align: end;
}

.calories-table tfoot tr:last-of-type td:last-of-type{
    border-radius: 0 0 10px ;
}

/* Список кроків */

.step-list {
    padding: 10px 40px;
    letter-spacing: 0.5px;
    word-spacing: 0.5px;
    line-height: 25px;
    margin: 10px 0;
}

.step-list h2{
    padding: 10px;
    text-align: center;
}

.step-list .row{
    display: flex;
    align-items: start;
    padding: 10px;
}

.step-list .row .index{
    min-width: 40px;
    padding-right: 15px;
    text-align: right;
    color: #BC4749;
    font-size: 25px;
    font-weight: 500;
}

.step-list .row .title{
    font-size: 16px;
}

/* Панель створення коментаря */

.create-comment{
    padding: 10px 40px;
    background-color: #222;
    color: white;
    box-shadow: 1px 3px 10px rgba(0,0,0,0.2);
    transition: all 0.5s ease;
}

.create-comment h2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.create-comment h2 span{
    font-size: 18px;
    font-weight: 500;
    color: #999;
}

.create-comment h2 span i{
    padding: 0 3px;
}

.create-comment input, .create-comment textarea{
    padding: 10px 20px;
    margin: 7px 5px;
    font-size: 16px;
    letter-spacing: 0.5px;
    word-spacing: 0.5px;
    line-height: 25px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #333;
    color: white;
    width: calc(100% - 10px);
    resize: none;
}

.create-comment .rating{
    background-color: #333;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 5px 5px;
    font-size: 18px;
    letter-spacing: 0.5px;
    word-spacing: 0.5px;
}

.create-comment .rating i{
    padding: 5px 0;
    color: #BC4749;
}

.create-comment .rating p{
    font-size: 14px;
    color: #666;
    padding-top: 5px;
}

.create-comment .rating span{
    padding: 0 5px;
}

.create-comment button{
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.5px;
    word-spacing: 0.5px;
    border: none;
    outline: none;
    padding: 10px 20px;
    margin: 15px 10px;
    border-radius: 10px;
    background-color: #BC4749;
    color: white;
}

/* Список коментарів */

.comments {
    margin: 0 40px;
    padding: 10px 0;
    border-bottom: 1px solid #BC4749;
}

.comments h2{
    text-align: center;
    padding: 10px;
}

.comments .comment{
    padding: 10px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 0.5px;
    word-spacing: 0.3px;
    line-height: 25px;
}

.comments .comment .info{
    flex-basis: 90%;
}

.comments .comment .info .user-name{
    font-size: 16px;
    font-weight: 700;
    padding: 0 1px;
}

.comments .comment .info .rating{
    display: flex;
    align-items: center;
    padding: 2px 0;
}

.comments .comment .info .rating i{
    color: #BC4749;
    padding-right: 2px;
}

.comments .comment .info .title{
    padding: 5px 0;
}

.comments .comment .info .create-time{
    font-size: 14px;
    color: #777;
}

.comments .comment .count-of-likes{
    flex-basis: 10%;
    text-align: right;
    color: #BC4749;
    font-size: 17px;
    cursor: pointer;
}

/* Низ сторінки */

footer{
    color: #777;
    font-size: 14px;
    letter-spacing: 0.5px;
    word-spacing: 0.5px;
    text-align: center;
    padding: 20px 40px;
}

@media screen and (width > 1000px){
    header{
        margin-top: 10px;
        border-radius: 10px;
    }

    .create-comment{
        border-radius: 10px;
    }
}
